* {
  margin: 0;
  padding: 0; }

.prod-card h5 {
  color: #090808;
  font-family: Arial, sans-serif; }

.prod-card p {
  color: #090808;
  font-style: italic; }

body {
  background: #090808;
  font-family: Arial, sans-serif; }

.main-title2, .padding_contact {
  color: #090808; }

nav {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px; }

li {
  display: inline;
  margin: 0px 10px; }

ul {
  text-align: center;
  font-size: 20px;
  padding-top: 0px; }

.prod-card {
  margin-top: 20px;
  margin-bottom: 20px; }

.img-banner {
  width: 100%; }

.tarjetas {
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px; }

a {
  color: #fffff2 !important; }

.logo {
  margin-top: 0px;
  width: 90px;
  left: 20px;
  margin-bottom: 0px; }

.banner {
  width: 100%; }

.contact-label {
  color: #fffff2;
  padding-bottom: 3%; }

.padding_contact {
  text-align: center;
  font-size: 20px;
  padding-top: 50px;
  padding-bottom: 50px; }

footer {
  background-color: #fffff2;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100%; }

h4 {
  color: #090808; }

.parrafo {
  background-color: #fffff2;
  color: #090808;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-right: 100px;
  padding-left: 100px;
  text-align: justify;
  justify-content: center; }

h2, h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; }

.youtube {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px; }

.container-fluid {
  text-align: center; }

.sec {
  display: flex;
  justify-content: space-around;
  margin-right: auto; }

.title_prod {
  color: #fffff2; }

.form_contact {
  justify-content: center; }

.form-group {
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center; }

.testimonios {
  width: 100%; }
