* {
    margin: 0;
    padding: 0;
}

nav {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}
body{
    background-color: black;
}


li {
    display: inline;
    margin: 0px 10px;
}

ul {
    text-align: center;
    font-size: 20px;
    padding-top: 0px;
}
.prod-card{
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-banner{
    width: 100%;
}
.tarjetas{
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

a{
    color: azure;
}

.logo {
    margin-top: 0px;
    width: 90px;
    left: 20px;
    margin-bottom: 0px;
}

.banner{
    width: 100%;
}


.main-title{
    background-color: black;
    text-align: center;
    margin-top: 20px;
}
.main-parr{
    text-align: center;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 50px;
    color: azure;
}
.main-title2{
    color: azure;
}

.parrafo-ml{
    color: black;   
}


h1 {
    color: black;
    text-align: center;
    background-color: azure;
}

.padding_contact {
    text-align: center;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: azure
}

footer {
    background-color: azure;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;

}

h4 {
    color: black;
}



.parrafo {
    background-color: azure;
    color: black;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
}

.youtube {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.container-fluid{
    text-align: center;
}


.sec{
    display: flex;
    justify-content: space-around;
    margin-right: auto;
}





    
