* {
    margin: 0;
    padding: 0;
}

nav {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}
body{
    background-color: black;
}


li {
    display: inline;
    margin: 0px 10px;
}

ul {
    text-align: center;
    font-size: 20px;
    padding-top: 0px;

}

.img-banner{
    width: 100%;
}
.tarjetas{
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

a{
    color: azure;
}

.logo {
    margin-top: 0px;
    width: 90px;
    left: 20px;
    margin-bottom: 0px;
}

.banner{
    width: 100%;
}




h2 {
    color: white;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    text-size-adjust: 1em;
}
.parrafo-ml{
    color: black;   
}


h1 {
    color: black;
    text-align: center;
    background-color: azure;
}

.padding_contact {
    text-align: center;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: azure
}

footer {
    background-color: azure;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;

}

h4 {
    color: black;
}

footer {
    width: 100%;

}
.footercon

.parrafo {
    background-color: azure;
    color: black;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
}

.youtube {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.bannercontainer{
    display: flex;
    justify-content: space-around;
    margin-right: auto;
   
}
.container-fluid{
    text-align: center;
}



.bcontainer{
    width: 10%;
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 30px;
}

.imgbox{
    width: 250px;
    justify-content: space-around;
    margin-left: -47px;
}

.subt{
    color: azure;
    justify-content: center;
    padding-left: 30px;
    padding-top: 10px;
}

.divcard{
    margin-top: 30px;  
    margin-bottom: 40px;
    display: grid;
    grid-template-areas: "img title" "img content";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    width:500px;
    height: 300px;
}

.cardtitle{
    grid-area: title;
    background-color: azure;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: larger;


}
.cardcontent{
    grid-area: content;
    background-color: black;

}

.cardimg{
    grid-area: img;
    background-color: azure;

}
.sec{
    display: flex;
    justify-content: space-around;
    margin-right: auto;
}
.menu-burger{
    display: none;
}

.b-click{
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
}
@keyframes aparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media screen and (max-width: 600px)
{
    ul{
        display: none;
    }
    .menu-burger{
        display: block;
        margin: 20px;
    }
    .logo{
        position: absolute;
        width: 20%;
        padding-left: 70%;
    }
    .sec{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;

    }
    .bannercontainer{
        width: 100%; 
        display: flex;   
        flex-direction: column;
        justify-content: center;
        padding-left: 50px;
        padding-right: 50px;
    
    }
    .imgbox{
        justify-content: center;
    }
    .subt{
        justify-content: center;
    }
    
    .banner{
        width: 100%;
    }
    .parr{
        display: none;
    }
    .cardcontent{
        font-size: small;
        justify-content: center;
    }
    .divcard{
        width: auto ;
    }
    .parrafo{
        font-size: smaller;
    }
    
}