//Variables

$fuente-general: Arial, sans-serif;
;

    * {
        margin: 0;
        padding: 0;
    }   
//Anidación
.prod-card{
    h5{
        color: map-get($colores,"black");
        font-family: $fuente-general
    }
    p{
        color: map-get($colores,"black");
        font-style: italic;
    }
}

body {
    background: map-get($colores,"black");
    font-family: $fuente-general
}

.main-title2{
    color: map-get($colores, "black")
}




nav {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}



li {
    display: inline;
    margin: 0px 10px;
}

ul {
    text-align: center;
    font-size: 20px;
    padding-top: 0px;
}
.prod-card{
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-banner{
    width: 100%;
}
.tarjetas{
    @include box;
}

a{
    color: map-get($colores,"white") !important;
}

.logo {
    margin-top: 0px;
    width: 90px;
    left: 20px;
    margin-bottom: 0px;
}

.banner{
    width: 100%;
}

.contact-label{
    color: map-get($colores, "white");
    padding-bottom: 3%;
}

.padding_contact {
    text-align: center;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    @extend .main-title2;
}

footer {
    background-color: map-get($colores,"white");
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
}

h4 {
    color: map-get($colores,"black");
}



.parrafo {
    background-color: map-get($colores,"white");
    color: map-get($colores,"black");
    padding-top: 20px;
    padding-bottom: 50px;
    padding-right: 100px;
    padding-left: 100px;
    text-align: justify;
    justify-content: center;

}
h2,h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.youtube {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}


.container-fluid{
    text-align: center;
}


.sec{
    display: flex;
    justify-content: space-around;
    margin-right: auto;
}

.title_prod{
    color: map-get($colores,"white");
}

.form_contact{
    justify-content: center;
}
.form-group{
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}
.testimonios{
    width: 100%;
}
